<% provide(:title, 'Create an Animal') %>
<h1>Create an Animal</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @animal, :html => { :multipart => true } do |f| %>
			<%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %><br/>

      <%= f.label :blurb %>
      <%= f.text_area :blurb %><br/>

	    <%= f.hidden_field :rating, :value => 100 %>

			<%= f.label 'Image' %>
			<%= f.file_field :attachment %>

      <%= f.submit "Make an Animal", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
