$(function() {
	var docHeight = $(".index").height();

	$(".index").prepend("<div id='overlay'></div>")
	$("#centreme").center()
	$("#overlay")
		.height(docHeight)
		.css( {
			'opacity' : 0.8,
			'position': 'absolute',
			'background-color': 'black',
			'z-index': 5000,
			'color': 'yellow',
			'text-align':'center',
			'width':'100%'
		})
		.html("<div id='centreme'><p>"+"<%= escape_javascript(@winningAnimal.name.to_s) %>"+"  had ranking: "+"<%= escape_javascript(@winningBefore.to_s) %>" +".</p>"+"<p>"+"<%= escape_javascript(@losingAnimal.name.to_s) %>"+"  had ranking: "+"<%= escape_javascript(@losingBefore.to_s) %>" +".</p>"+"<p>"+"<%= escape_javascript(@winningAnimal.name.to_s) %>"+"  now has ranking: "+"<%= escape_javascript(@winningAnimal.rating.to_s) %>" +".</p>"+"<p>"+"<%= escape_javascript(@losingAnimal.name.to_s) %>"+"  now has ranking: "+"<%= escape_javascript(@losingAnimal.rating.to_s) %>" +".</p></div>");
});

$(function() {
	$("#overlay").click(function() {
		window.location.replace("/");
	});
});


