<header class="navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home",    root_path %></li>
			 <li><%= link_to "Help",    help_path %></li>
			 <li><%= link_to "League",  league_path %></li>
			 <li><%= link_to "Animals", animals_path %></li>
			 <%= link_to "animal fight", root_path, id: "logo" %>
        </ul>
      </nav>
    </div>
  </div>
</header>
